@media screen and (max-width: 650px) {  /* esta formatação em tela será usada até*/
    header .container {
        display: flex;
        flex-direction: column;
       
    }

    .botton {
        margin: 15px;
        width: 300px;
    }
}

@media screen and (min-width: 1000px) {
    .sinopse {
        width: 65%;
    }
}